body {
    padding: 0;
    margin: 0;
    height: 3000px;
}

.header-el {
    position: fixed;
    top: 0;
    background-color: lightpink;
    margin: 0;
    height: 70px;
    left: 0;
    right: 0;
}

.aside-el {
    background-color: lightblue;
    position: fixed;
    left: 0;
    height: 100%;
    width: 200px;
    top: 70px;
}